*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"General Sans";
    color: white;
}
html,body{
    width: 100%;
    height: 100%;
}

.minicircle{
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.9s;
    position: absolute;
    height: 10px;
    width: 10px;
    z-index: 9999999;
    border-radius: 50%;
    background-color: white;
}

.bounding{
    width: fit-content;
    overflow: hidden;
}

.torent{
    display: flex;
    justify-content: end;
}

.bounding .boundingelem{
    transform: translateY(200%);
}

#one{
    transform: translateY(110%);
}

.main{
    width: 100%;
    background-color: black;
}

.hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}

.nav{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 40px;

}
.nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
}
.heading{
    margin-top: 100px;
}
.heading h1{
    margin-left: 30px;
    opacity: .6;
    line-height: 0.9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 10vw;
}

.heading #secondh1{
    margin-left: 194px;
}

.blocktext{
    width: fit-content;
}
.blocktext h5{
    text-align: right;
    text-transform: uppercase;
    font-size: 17px;
}

.smallheading{
    display: flex;
    justify-content: end;
    margin-top: 100px;
    padding-right: 50px;
    
}
.smallheading h5{
   
    text-align: right;
    font-size: 1.4vw;
    line-height: 1.5;
}

.herofooter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 20px 0 20px;
    overflow: hidden;
}

.herofooter a{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

#iconset{
    display: flex;
    height: 50px;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    font-size: 27px;
    gap: 6px;
}

.secondpage{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    padding-top: 150px;
    padding-left: 40px;
}

.secondpage .ele{
    width: 85%;
    border-top: 2px solid #8888;
    padding: 1vw 0 1vw 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}
.ele h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 9vw;
    text-transform: uppercase;
    opacity: .6;
}

.secondpage .lastele{
    border-bottom:2px solid #8888;
}

.ele img{
    position: absolute;
    z-index: 999;
    height: 140%;
    opacity: 0;
}

.about{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: right;
    gap: 90px;
    padding: 12vw;
}

#aboutimg{
    width: 15vw;
    height: 15vw;
    background-image: url("cynthia.png");
    border-radius: 50%;
    background-size: cover;
}
#abouttext{
    width: 40%;  
}
#abouttext p{
    font-size: 1.2rem;
    padding-bottom: 20px;
    line-height: 1.4;
}


#abouttext a{
    text-decoration: none;
    border: 1px solid white;
    display: inline-block;
    padding: 0.5vw;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
}

#abouttext h5{
    opacity: .7;
    text-transform:uppercase ;
}

.subscribe{
    color: white;
    background-color: black;
    width: 100%;
    padding-left: 4vw;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 22vh;
}

.subscribe h5{
    opacity: .7;
    line-height: 1.8;
}

.footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4vw;
    padding-bottom: 33px;
    
}

.footer .timeyear{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.handles{
    display: flex;
    text-transform: uppercase;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    font-weight: 900;
    font-size: .9rem;
}

.handles a{
    text-decoration: none;
}